# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
ENV/
env/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Excel Outputs / Data Files
# -----------------------------
Frameworks and SPOs.xlsx
output_spo_framework.xlsx
output_termsheet.xlsx
working_Setup.xlsx

# -----------------------------
# Documentation / Reports
# -----------------------------
documentation.txt

# -----------------------------
# Jupyter / IPython
# -----------------------------
.ipynb_checkpoints
*.ipynb

# -----------------------------
# OS / Editor Files
# -----------------------------
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/
*.log

# -----------------------------
# Python Packaging / Distribution
# -----------------------------
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl
pip-wheel-metadata/
__pypackages__/
